# Compile file
*.class
*.o
*.pyc
*.exe

# IDE specific file
.idea/
.vscode/
*.swp
*.swo

# Language specific section
# Python related file
__pycache__/
*.py[cod]
*$py.class
.Python
env/
venv/

# Java related file
target/
*.jar
*.war

# Go related file
*.test
/vendor/

# Rust related file
/target/
**/*.rs.bk
Cargo.lock

# C# related file
bin/
obj/
*.suo
*.user
*.userosscache
*.sln.docstates

# Log and database
*.log
*.sqlite

# OS generate file
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db 